<div class="search-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header>
          <ul class="list-inline">
            <li><a href="search.html">Search for shows</a></li>
            <li><a href="">Schedules</a></li>
            <li><a href="">Favorites</a></li>
            <li><a href="history.html">Search History</a></li>
          </ul>
        </header>

        <form>
          <h2 class="v-center">Search</h2>
          <div class="input-group">
            <input type="text" class="form-control input-md" ng-model="name" />
            <span class="input-group-btn">
              <button 
                type="submit"
                class="btn btn-success" ng-click="search()">
                Search
              </button>
            </span>
          </div>  
        </form>
        </div>
      </div>
      <div>
        <div ng-if="name.length">Searching for show: {{name}}</div>
        <div class="more-results-block" ng-if="characters.length">
        <p ng-show="characters.length===0">
          No results found
          <hr/>
        </p>
      </div>
    </div>
  <div rendersearch></div>
</div>